{% extends 'layout.html.twig' %}

{% block title %}Veille Informatique{% endblock %}

{% block body %}
 <h1>Veille Informatique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Lien</th>
            </tr>
        </thead>
        <tbody>
        {% for veilleinfo in veilleinfos %}
            <tr>
                <td>{{ veilleinfo.titre }}</td>
                <td>{{ veilleinfo.description }}</td>
                <td>{{ veilleinfo.lien }}</td>
                {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
