{% extends 'layoutAdmin.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.image }}</td>

                
             
                {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



